<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Search with different keywords">
    <listeners>
        <listener class-name="Utils.MyListeners"> </listener>
    </listeners>

    <test name="Page Object Model using By and TestNG">
        <classes>
            <class name="LoginTestClass"/>
            <class name="HomePageTests"/>
            <class name="OrderTestClass"/>



        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
